<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hi, AnhNVT

      It's my pleasure to welcome you to ciaobox! <a href="http://rubydn.com/">Welcome to ciaobox</a>!


      Best,<br/>
      Corey

  </body>
</html>