h3.page-title
  |  Dashboard 
  small
   / | reports & statistics
= render partial: "layouts/shared/dashboard/admin/profile"
- case current_admin.type
  - when CiaoboxUser::Employee.name
      = render partial: "layouts/shared/dashboard/admin/employee_info"
  - when CiaoboxUser::Company.name
      = render partial: "layouts/shared/dashboard/admin/company_admin"
  - when CiaoboxUser::Super.name
      = render partial: "layouts/shared/dashboard/admin/super_admin"

/ .row
/   .col-lg-3.col-md-3.col-sm-6.col-xs-12
/     .dashboard-stat.blue-madison
/       .visual
/         i.fa.fa-comments
/       .details
/         .number
/           |  1349 
/         .desc
/           |  New Feedbacks 
/       a.more[href="javascript:;"]
/         |  View more 
/         i.m-icon-swapright.m-icon-white
/   .col-lg-3.col-md-3.col-sm-6.col-xs-12
/     .dashboard-stat.red-intense
/       .visual
/         i.fa.fa-bar-chart-o
/       .details
/         .number
/           |  12,5M$ 
/         .desc
/           |  Total Profit 
/       a.more[href="javascript:;"]
/         |  View more 
/         i.m-icon-swapright.m-icon-white
/   .col-lg-3.col-md-3.col-sm-6.col-xs-12
/     .dashboard-stat.green-haze
/       .visual
/         i.fa.fa-shopping-cart
/       .details
/         .number
/           |  549 
/         .desc
/           |  New Orders 
/       a.more[href="javascript:;"]
/         |  View more 
/         i.m-icon-swapright.m-icon-white
/   .col-lg-3.col-md-3.col-sm-6.col-xs-12
/     .dashboard-stat.purple-plum
/       .visual
/         i.fa.fa-globe
/       .details
/         .number
/           |  +89% 
/         .desc
/           |  Brand Popularity 
/       a.more[href="javascript:;"]
/         |  View more 
/         i.m-icon-swapright.m-icon-white
/ .clearfix

/ .row
/   .col-md-6.col-sm-6
/     .portlet.light
/       .portlet-title
/         .caption
/           i.icon-bar-chart.font-green-sharp.hide
/           span.caption-subject.font-green-sharp.bold.uppercase
/             | Site Visits
/           span.caption-helper
/             | weekly stats...
/         .actions
/           .btn-group.btn-group-devided[data-toggle="buttons"]
/             label.btn.btn-transparent.grey-salsa.btn-circle.btn-sm.active
/               input#option1.toggle[type="radio" name="options"]
/               | New
/             label.btn.btn-transparent.grey-salsa.btn-circle.btn-sm
/               input#option2.toggle[type="radio" name="options"]
/               | Returning
/       .portlet-body
/         #site_statistics_loading
/           img[src="../../assets/admin/layout/img/loading.gif" alt="loading"]
/         #site_statistics_content.display-none
/           #site_statistics.chart

/   .col-md-6.col-sm-6
/     .portlet.light
/       .portlet-title
/         .caption
/           i.icon-share.font-red-sunglo.hide
/           span.caption-subject.font-red-sunglo.bold.uppercase
/             | Revenue
/           span.caption-helper
/             | monthly stats...
/         .actions
/           .btn-group
/             a.btn.grey-salsa.btn-circle.btn-sm.dropdown-toggle[href="" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"]
/               |  Filter Range
/               span.fa.fa-angle-down

/             ul.dropdown-menu.pull-right
/               li
/                 a[href="javascript:;"]
/                   |  Q1 2014 
/                   span.label.label-sm.label-default
/                     |  past 
/               li
/                 a[href="javascript:;"]
/                   |  Q2 2014 
/                   span.label.label-sm.label-default
/                     |  past 
/               li.active
/                 a[href="javascript:;"]
/                   |  Q3 2014 
/                   span.label.label-sm.label-success
/                     |  current 
/               li
/                 a[href="javascript:;"]
/                   |  Q4 2014 
/                   span.label.label-sm.label-warning
/                     |  upcoming 
/       .portlet-body
/         #site_activities_loading
/           img[src="../../assets/admin/layout/img/loading.gif" alt="loading"]
/         #site_activities_content.display-none
/           #site_activities[style="height: 228px;"]

/         div[style="margin: 20px 0 10px 30px"]
/           .row
/             .col-md-3.col-sm-3.col-xs-6.text-stat
/               span.label.label-sm.label-success
/                 |  Revenue: 
/               h3
/                 | $13,234
/             .col-md-3.col-sm-3.col-xs-6.text-stat
/               span.label.label-sm.label-info
/                 |  Tax: 
/               h3
/                 | $134,900
/             .col-md-3.col-sm-3.col-xs-6.text-stat
/               span.label.label-sm.label-danger
/                 |  Shipment: 
/               h3
/                 | $1,134
/             .col-md-3.col-sm-3.col-xs-6.text-stat
/               span.label.label-sm.label-warning
/                 |  Orders: 
/               h3
/                 | 235090
/ .clearfix

/ .row
/   .col-md-6.col-sm-6
/     .portlet.light
/       .portlet-title
/         .caption
/           i.icon-share.font-blue-steel.hide
/           span.caption-subject.font-blue-steel.bold.uppercase
/             | Recent Activities
/         .actions
/           .btn-group
/             a.btn.btn-sm.btn-default.btn-circle[href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"]
/               |  Filter By 
/               i.fa.fa-angle-down
/             .dropdown-menu.hold-on-click.dropdown-checkboxes.pull-right
/               label
/                 input[type="checkbox"]
/                 |  Finance
/               label
/                 input[type="checkbox" checked=""]
/                 |  Membership
/               label
/                 input[type="checkbox"]
/                 |  Customer Support
/               label
/                 input[type="checkbox" checked=""]
/                 |  HR
/               label
/                 input[type="checkbox"]
/                 |  System
/       .portlet-body
/         .scroller[style="height: 300px;" data-always-visible="1" data-rail-visible="0"]
/           ul.feeds
/             li
/               .col1
/                 .cont
/                   .cont-col1
/                     .label.label-sm.label-info
/                       i.fa.fa-check
/                   .cont-col2
/                     .desc
/                       |  You have 4 pending tasks. 
/                       span.label.label-sm.label-warning
/                         |  Take action 
/                         i.fa.fa-share
/               .col2
/                 .date
/                   |  Just now 
/             li
/               a[href="javascript:;"]

/               .col1
/                 .cont
/                   .cont-col1
/                     .label.label-sm.label-success
/                       i.fa.fa-bar-chart-o
/                   .cont-col2
/                     .desc
/                       |  Finance Report for year 2013 has been released. 
/               .col2
/                 .date
/                   |  20 mins 
/             li
/               .col1
/                 .cont
/                   .cont-col1
/                     .label.label-sm.label-danger
/                       i.fa.fa-user
/                   .cont-col2
/                     .desc
/                       |  You have 5 pending membership that requires a quick review. 
/               .col2
/                 .date
/                   |  24 mins 
/             li
/               .col1
/                 .cont
/                   .cont-col1
/                     .label.label-sm.label-info
/                       i.fa.fa-shopping-cart
/                   .cont-col2
/                     .desc
/                       |  New order received with 
/                       span.label.label-sm.label-success
/                         |  Reference Number: DR23923 
/               .col2
/                 .date
/                   |  30 mins 
/             li
/               .col1
/                 .cont
/                   .cont-col1
/                     .label.label-sm.label-success
/                       i.fa.fa-user
/                   .cont-col2
/                     .desc
/                       |  You have 5 pending membership that requires a quick review. 
/               .col2
/                 .date
/                   |  24 mins 
/             li
/               .col1
/                 .cont
/                   .cont-col1
/                     .label.label-sm.label-default
/                       i.fa.fa-bell-o
/                   .cont-col2
/                     .desc
/                       |  Web server hardware needs to be upgraded. 
/                       span.label.label-sm.label-default
/                         |  Overdue 
/               .col2
/                 .date
/                   |  2 hours 
/             li
/               a[href="javascript:;"]

/               .col1
/                 .cont
/                   .cont-col1
/                     .label.label-sm.label-default
/                       i.fa.fa-briefcase
/                   .cont-col2
/                     .desc
/                       |  IPO Report for year 2013 has been released. 
/               .col2
/                 .date
/                   |  20 mins 
/             li
/               .col1
/                 .cont
/                   .cont-col1
/                     .label.label-sm.label-info
/                       i.fa.fa-check
/                   .cont-col2
/                     .desc
/                       |  You have 4 pending tasks. 
/                       span.label.label-sm.label-warning
/                         |  Take action 
/                         i.fa.fa-share
/               .col2
/                 .date
/                   |  Just now 
/             li
/               a[href="javascript:;"]

/               .col1
/                 .cont
/                   .cont-col1
/                     .label.label-sm.label-danger
/                       i.fa.fa-bar-chart-o
/                   .cont-col2
/                     .desc
/                       |  Finance Report for year 2013 has been released. 
/               .col2
/                 .date
/                   |  20 mins 
/             li
/               .col1
/                 .cont
/                   .cont-col1
/                     .label.label-sm.label-default
/                       i.fa.fa-user
/                   .cont-col2
/                     .desc
/                       |  You have 5 pending membership that requires a quick review. 
/               .col2
/                 .date
/                   |  24 mins 
/             li
/               .col1
/                 .cont
/                   .cont-col1
/                     .label.label-sm.label-info
/                       i.fa.fa-shopping-cart
/                   .cont-col2
/                     .desc
/                       |  New order received with 
/                       span.label.label-sm.label-success
/                         |  Reference Number: DR23923 
/               .col2
/                 .date
/                   |  30 mins 
/             li
/               .col1
/                 .cont
/                   .cont-col1
/                     .label.label-sm.label-success
/                       i.fa.fa-user
/                   .cont-col2
/                     .desc
/                       |  You have 5 pending membership that requires a quick review. 
/               .col2
/                 .date
/                   |  24 mins 
/             li
/               .col1
/                 .cont
/                   .cont-col1
/                     .label.label-sm.label-warning
/                       i.fa.fa-bell-o
/                   .cont-col2
/                     .desc
/                       |  Web server hardware needs to be upgraded. 
/                       span.label.label-sm.label-default
/                         |  Overdue 
/               .col2
/                 .date
/                   |  2 hours 
/             li
/               a[href="javascript:;"]

/               .col1
/                 .cont
/                   .cont-col1
/                     .label.label-sm.label-info
/                       i.fa.fa-briefcase
/                   .cont-col2
/                     .desc
/                       |  IPO Report for year 2013 has been released. 
/               .col2
/                 .date
/                   |  20 mins 
/         .scroller-footer
/           .btn-arrow-link.pull-right
/             a[href="javascript:;"]
/               | See All Records
/             i.icon-arrow-right
/   .col-md-6.col-sm-6
/     .portlet.light.tasks-widget
/       .portlet-title
/         .caption
/           i.icon-share.font-green-haze.hide
/           span.caption-subject.font-green-haze.bold.uppercase
/             | Tasks
/           span.caption-helper
/             | tasks summary...
/         .actions
/           .btn-group
/             a.btn.green-haze.btn-circle.btn-sm[href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"]
/               |  More 
/               i.fa.fa-angle-down
/             ul.dropdown-menu.pull-right
/               li
/                 a[href="javascript:;"]
/                   i.i
/                   |  All Project 
/               li.divider

/               li
/                 a[href="javascript:;"]
/                   |  AirAsia 
/               li
/                 a[href="javascript:;"]
/                   |  Cruise 
/               li
/                 a[href="javascript:;"]
/                   |  HSBC 
/               li.divider

/               li
/                 a[href="javascript:;"]
/                   |  Pending 
/                   span.badge.badge-danger
/                     |  4 
/               li
/                 a[href="javascript:;"]
/                   |  Completed 
/                   span.badge.badge-success
/                     |  12 
/               li
/                 a[href="javascript:;"]
/                   |  Overdue 
/                   span.badge.badge-warning
/                     |  9 
/       .portlet-body
/         .task-content
/           .scroller[style="height: 305px;" data-always-visible="1" data-rail-visible1="1"]
/             ul.task-list
/               li
/                 .task-checkbox
/                   input.liChild[type="checkbox" value=""]
/                 .task-title
/                   span.task-title-sp
/                     |  Present 2013 Year IPO Statistics at Board Meeting 
/                   span.label.label-sm.label-success
/                     | Company
/                   span.task-bell
/                     i.fa.fa-bell-o
/                 .task-config
/                   .task-config-btn.btn-group
/                     a.btn.btn-xs.default[href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"]
/                       i.fa.fa-cog
/                       i.fa.fa-angle-down
/                     ul.dropdown-menu.pull-right
/                       li
/                         a[href="javascript:;"]
/                           i.fa.fa-check
/                           |  Complete 
/                       li
/                         a[href="javascript:;"]
/                           i.fa.fa-pencil
/                           |  Edit 
/                       li
/                         a[href="javascript:;"]
/                           i.fa.fa-trash-o
/                           |  Cancel 
/               li
/                 .task-checkbox
/                   input.liChild[type="checkbox" value=""]
/                 .task-title
/                   span.task-title-sp
/                     |  Hold An Interview for Marketing Manager Position 
/                   span.label.label-sm.label-danger
/                     | Marketing
/                 .task-config
/                   .task-config-btn.btn-group
/                     a.btn.btn-xs.default[href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"]
/                       i.fa.fa-cog
/                       i.fa.fa-angle-down
/                     ul.dropdown-menu.pull-right
/                       li
/                         a[href="javascript:;"]
/                           i.fa.fa-check
/                           |  Complete 
/                       li
/                         a[href="javascript:;"]
/                           i.fa.fa-pencil
/                           |  Edit 
/                       li
/                         a[href="javascript:;"]
/                           i.fa.fa-trash-o
/                           |  Cancel 
/               li
/                 .task-checkbox
/                   input.liChild[type="checkbox" value=""]
/                 .task-title
/                   span.task-title-sp
/                     |  AirAsia Intranet System Project Internal Meeting 
/                   span.label.label-sm.label-success
/                     | AirAsia
/                   span.task-bell
/                     i.fa.fa-bell-o
/                 .task-config
/                   .task-config-btn.btn-group
/                     a.btn.btn-xs.default[href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"]
/                       i.fa.fa-cog
/                       i.fa.fa-angle-down
/                     ul.dropdown-menu.pull-right
/                       li
/                         a[href="javascript:;"]
/                           i.fa.fa-check
/                           |  Complete 
/                       li
/                         a[href="javascript:;"]
/                           i.fa.fa-pencil
/                           |  Edit 
/                       li
/                         a[href="javascript:;"]
/                           i.fa.fa-trash-o
/                           |  Cancel 
/               li
/                 .task-checkbox
/                   input.liChild[type="checkbox" value=""]
/                 .task-title
/                   span.task-title-sp
/                     |  Technical Management Meeting 
/                   span.label.label-sm.label-warning
/                     | Company
/                 .task-config
/                   .task-config-btn.btn-group
/                     a.btn.btn-xs.default[href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"]
/                       i.fa.fa-cog
/                       i.fa.fa-angle-down
/                     ul.dropdown-menu.pull-right
/                       li
/                         a[href="javascript:;"]
/                           i.fa.fa-check
/                           |  Complete 
/                       li
/                         a[href="javascript:;"]
/                           i.fa.fa-pencil
/                           |  Edit 
/                       li
/                         a[href="javascript:;"]
/                           i.fa.fa-trash-o
/                           |  Cancel 
/               li
/                 .task-checkbox
/                   input.liChild[type="checkbox" value=""]
/                 .task-title
/                   span.task-title-sp
/                     |  Kick-off Company CRM Mobile App Development 
/                   span.label.label-sm.label-info
/                     | Internal Products
/                 .task-config
/                   .task-config-btn.btn-group
/                     a.btn.btn-xs.default[href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"]
/                       i.fa.fa-cog
/                       i.fa.fa-angle-down
/                     ul.dropdown-menu.pull-right
/                       li
/                         a[href="javascript:;"]
/                           i.fa.fa-check
/                           |  Complete 
/                       li
/                         a[href="javascript:;"]
/                           i.fa.fa-pencil
/                           |  Edit 
/                       li
/                         a[href="javascript:;"]
/                           i.fa.fa-trash-o
/                           |  Cancel 
/               li
/                 .task-checkbox
/                   input.liChild[type="checkbox" value=""]
/                 .task-title
/                   span.task-title-sp
/                     |  Prepare Commercial Offer For SmartVision Website Rewamp 
/                   span.label.label-sm.label-danger
/                     | SmartVision
/                 .task-config
/                   .task-config-btn.btn-group
/                     a.btn.btn-xs.default[href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"]
/                       i.fa.fa-cog
/                       i.fa.fa-angle-down
/                     ul.dropdown-menu.pull-right
/                       li
/                         a[href="javascript:;"]
/                           i.fa.fa-check
/                           |  Complete 
/                       li
/                         a[href="javascript:;"]
/                           i.fa.fa-pencil
/                           |  Edit 
/                       li
/                         a[href="javascript:;"]
/                           i.fa.fa-trash-o
/                           |  Cancel 
/               li
/                 .task-checkbox
/                   input.liChild[type="checkbox" value=""]
/                 .task-title
/                   span.task-title-sp
/                     |  Sign-Off The Comercial Agreement With AutoSmart 
/                   span.label.label-sm.label-default
/                     | AutoSmart
/                   span.task-bell
/                     i.fa.fa-bell-o
/                 .task-config
/                   .task-config-btn.btn-group
/                     a.btn.btn-xs.default[href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"]
/                       i.fa.fa-cog
/                       i.fa.fa-angle-down
/                     ul.dropdown-menu.pull-right
/                       li
/                         a[href="javascript:;"]
/                           i.fa.fa-check
/                           |  Complete 
/                       li
/                         a[href="javascript:;"]
/                           i.fa.fa-pencil
/                           |  Edit 
/                       li
/                         a[href="javascript:;"]
/                           i.fa.fa-trash-o
/                           |  Cancel 
/               li
/                 .task-checkbox
/                   input.liChild[type="checkbox" value=""]
/                 .task-title
/                   span.task-title-sp
/                     |  Company Staff Meeting 
/                   span.label.label-sm.label-success
/                     | Cruise
/                   span.task-bell
/                     i.fa.fa-bell-o
/                 .task-config
/                   .task-config-btn.btn-group
/                     a.btn.btn-xs.default[href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"]
/                       i.fa.fa-cog
/                       i.fa.fa-angle-down
/                     ul.dropdown-menu.pull-right
/                       li
/                         a[href="javascript:;"]
/                           i.fa.fa-check
/                           |  Complete 
/                       li
/                         a[href="javascript:;"]
/                           i.fa.fa-pencil
/                           |  Edit 
/                       li
/                         a[href="javascript:;"]
/                           i.fa.fa-trash-o
/                           |  Cancel 
/               li.last-line
/                 .task-checkbox
/                   input.liChild[type="checkbox" value=""]
/                 .task-title
/                   span.task-title-sp
/                     |  KeenThemes Investment Discussion 
/                   span.label.label-sm.label-warning
/                     | KeenThemes 
/                 .task-config
/                   .task-config-btn.btn-group
/                     a.btn.btn-xs.default[href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"]
/                       i.fa.fa-cog
/                       i.fa.fa-angle-down
/                     ul.dropdown-menu.pull-right
/                       li
/                         a[href="javascript:;"]
/                           i.fa.fa-check
/                           |  Complete 
/                       li
/                         a[href="javascript:;"]
/                           i.fa.fa-pencil
/                           |  Edit 
/                       li
/                         a[href="javascript:;"]
/                           i.fa.fa-trash-o
/                           |  Cancel 
/         .task-footer
/           .btn-arrow-link.pull-right
/             a[href="javascript:;"]
/               | See All Records
/             i.icon-arrow-right
/ .clearfix

/ .row
/   .col-md-6.col-sm-6
/     .portlet.light
/       .portlet-title
/         .caption
/           i.icon-cursor.font-purple-intense.hide
/           span.caption-subject.font-purple-intense.bold.uppercase
/             | General Stats
/         .actions
/           a.btn.btn-sm.btn-circle.btn-default.easy-pie-chart-reload[href="javascript:;"]
/             i.fa.fa-repeat
/             |  Reload 
/       .portlet-body
/         .row
/           .col-md-4
/             .easy-pie-chart
/               .number.transactions[data-percent="55"]
/                 span
/                   |  +55 
/                 |  % 
/               a.title[href="javascript:;"]
/                 |  Transactions 
/                 i.icon-arrow-right
/           .margin-bottom-10.visible-sm

/           .col-md-4
/             .easy-pie-chart
/               .number.visits[data-percent="85"]
/                 span
/                   |  +85 
/                 |  % 
/               a.title[href="javascript:;"]
/                 |  New Visits 
/                 i.icon-arrow-right
/           .margin-bottom-10.visible-sm

/           .col-md-4
/             .easy-pie-chart
/               .number.bounce[data-percent="46"]
/                 span
/                   |  -46 
/                 |  % 
/               a.title[href="javascript:;"]
/                 |  Bounce 
/                 i.icon-arrow-right
/   .col-md-6.col-sm-6
/     .portlet.light
/       .portlet-title
/         .caption
/           i.icon-equalizer.font-purple-plum.hide
/           span.caption-subject.font-red-sunglo.bold.uppercase
/             | Server Stats
/           span.caption-helper
/             | monthly stats...
/         .tools
/           a.collapse[href=""]

/           a.config[href="#portlet-config" data-toggle="modal"]

/           a.reload[href=""]

/           a.remove[href=""]

/       .portlet-body
/         .row
/           .col-md-4
/             .sparkline-chart
/               #sparkline_bar.number
/               a.title[href="javascript:;"]
/                 |  Network 
/                 i.icon-arrow-right
/           .margin-bottom-10.visible-sm

/           .col-md-4
/             .sparkline-chart
/               #sparkline_bar2.number
/               a.title[href="javascript:;"]
/                 |  CPU Load 
/                 i.icon-arrow-right
/           .margin-bottom-10.visible-sm

/           .col-md-4
/             .sparkline-chart
/               #sparkline_line.number
/               a.title[href="javascript:;"]
/                 |  Load Rate 
/                 i.icon-arrow-right
/ .clearfix

/ .row
/   .col-md-6.col-sm-6
/     .portlet.light
/       .portlet-title
/         .caption
/           i.icon-share.font-red-sunglo
/           span.caption-subject.font-red-sunglo.bold.uppercase
/             | Regional Stats
/         .actions
/           a.btn.btn-circle.btn-icon-only.btn-default[href="javascript:;"]
/             i.icon-cloud-upload
/           a.btn.btn-circle.btn-icon-only.btn-default[href="javascript:;"]
/             i.icon-wrench
/           a.btn.btn-circle.btn-icon-only.btn-default.fullscreen[href="javascript:;"]

/           a.btn.btn-circle.btn-icon-only.btn-default[href="javascript:;"]
/             i.icon-trash
/       .portlet-body
/         #region_statistics_loading
/           img[src="../../assets/admin/layout/img/loading.gif" alt="loading"]
/         #region_statistics_content.display-none
/           .btn-toolbar.margin-bottom-10
/             .btn-group.btn-group-circle[data-toggle="buttons"]
/               a.btn.grey-salsa.btn-sm.active[href=""]
/                 |  Users 
/               a.btn.grey-salsa.btn-sm[href=""]
/                 |  Orders 
/             .btn-group.pull-right
/               a.btn.btn-circle.grey-salsa.btn-sm.dropdown-toggle[href="" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"]
/                 |  Select Region 
/                 span.fa.fa-angle-down

/               ul.dropdown-menu.pull-right
/                 li
/                   a#regional_stat_world[href="javascript:;"]
/                     |  World 
/                 li
/                   a#regional_stat_usa[href="javascript:;"]
/                     |  USA 
/                 li
/                   a#regional_stat_europe[href="javascript:;"]
/                     |  Europe 
/                 li
/                   a#regional_stat_russia[href="javascript:;"]
/                     |  Russia 
/                 li
/                   a#regional_stat_germany[href="javascript:;"]
/                     |  Germany 
/           #vmap_world.vmaps.display-none

/           #vmap_usa.vmaps.display-none

/           #vmap_europe.vmaps.display-none

/           #vmap_russia.vmaps.display-none

/           #vmap_germany.vmaps.display-none

/   .col-md-6.col-sm-6
/     .portlet.light
/       .portlet-title.tabbable-line
/         .caption
/           i.icon-globe.font-green-sharp
/           span.caption-subject.font-green-sharp.bold.uppercase
/             | Feeds
/         ul.nav.nav-tabs
/           li.active
/             a[href="#tab_1_1" data-toggle="tab"]
/               |  System 
/           li
/             a[href="#tab_1_2" data-toggle="tab"]
/               |  Activities 
/           li
/             a[href="#tab_1_3" data-toggle="tab"]
/               |  Recent Users 
/       .portlet-body
/         .tab-content
/           #tab_1_1.tab-pane.active
/             .scroller[style="height: 339px;" data-always-visible="1" data-rail-visible="0"]
/               ul.feeds
/                 li
/                   .col1
/                     .cont
/                       .cont-col1
/                         .label.label-sm.label-success
/                           i.fa.fa-bell-o
/                       .cont-col2
/                         .desc
/                           |  You have 4 pending tasks. 
/                           span.label.label-sm.label-info
/                             |  Take action 
/                             i.fa.fa-share
/                   .col2
/                     .date
/                       |  Just now 
/                 li
/                   a[href="javascript:;"]

/                   .col1
/                     .cont
/                       .cont-col1
/                         .label.label-sm.label-success
/                           i.fa.fa-bell-o
/                       .cont-col2
/                         .desc
/                           |  New version v1.4 just lunched! 
/                   .col2
/                     .date
/                       |  20 mins 
/                 li
/                   .col1
/                     .cont
/                       .cont-col1
/                         .label.label-sm.label-danger
/                           i.fa.fa-bolt
/                       .cont-col2
/                         .desc
/                           |  Database server #12 overloaded. Please fix the issue. 
/                   .col2
/                     .date
/                       |  24 mins 
/                 li
/                   .col1
/                     .cont
/                       .cont-col1
/                         .label.label-sm.label-info
/                           i.fa.fa-bullhorn
/                       .cont-col2
/                         .desc
/                           |  New order received. Please take care of it. 
/                   .col2
/                     .date
/                       |  30 mins 
/                 li
/                   .col1
/                     .cont
/                       .cont-col1
/                         .label.label-sm.label-success
/                           i.fa.fa-bullhorn
/                       .cont-col2
/                         .desc
/                           |  New order received. Please take care of it. 
/                   .col2
/                     .date
/                       |  40 mins 
/                 li
/                   .col1
/                     .cont
/                       .cont-col1
/                         .label.label-sm.label-warning
/                           i.fa.fa-plus
/                       .cont-col2
/                         .desc
/                           |  New user registered. 
/                   .col2
/                     .date
/                       |  1.5 hours 
/                 li
/                   .col1
/                     .cont
/                       .cont-col1
/                         .label.label-sm.label-success
/                           i.fa.fa-bell-o
/                       .cont-col2
/                         .desc
/                           |  Web server hardware needs to be upgraded. 
/                           span.label.label-sm.label-default
/                             |  Overdue 
/                   .col2
/                     .date
/                       |  2 hours 
/                 li
/                   .col1
/                     .cont
/                       .cont-col1
/                         .label.label-sm.label-default
/                           i.fa.fa-bullhorn
/                       .cont-col2
/                         .desc
/                           |  New order received. Please take care of it. 
/                   .col2
/                     .date
/                       |  3 hours 
/                 li
/                   .col1
/                     .cont
/                       .cont-col1
/                         .label.label-sm.label-warning
/                           i.fa.fa-bullhorn
/                       .cont-col2
/                         .desc
/                           |  New order received. Please take care of it. 
/                   .col2
/                     .date
/                       |  5 hours 
/                 li
/                   .col1
/                     .cont
/                       .cont-col1
/                         .label.label-sm.label-info
/                           i.fa.fa-bullhorn
/                       .cont-col2
/                         .desc
/                           |  New order received. Please take care of it. 
/                   .col2
/                     .date
/                       |  18 hours 
/                 li
/                   .col1
/                     .cont
/                       .cont-col1
/                         .label.label-sm.label-default
/                           i.fa.fa-bullhorn
/                       .cont-col2
/                         .desc
/                           |  New order received. Please take care of it. 
/                   .col2
/                     .date
/                       |  21 hours 
/                 li
/                   .col1
/                     .cont
/                       .cont-col1
/                         .label.label-sm.label-info
/                           i.fa.fa-bullhorn
/                       .cont-col2
/                         .desc
/                           |  New order received. Please take care of it. 
/                   .col2
/                     .date
/                       |  22 hours 
/                 li
/                   .col1
/                     .cont
/                       .cont-col1
/                         .label.label-sm.label-default
/                           i.fa.fa-bullhorn
/                       .cont-col2
/                         .desc
/                           |  New order received. Please take care of it. 
/                   .col2
/                     .date
/                       |  21 hours 
/                 li
/                   .col1
/                     .cont
/                       .cont-col1
/                         .label.label-sm.label-info
/                           i.fa.fa-bullhorn
/                       .cont-col2
/                         .desc
/                           |  New order received. Please take care of it. 
/                   .col2
/                     .date
/                       |  22 hours 
/                 li
/                   .col1
/                     .cont
/                       .cont-col1
/                         .label.label-sm.label-default
/                           i.fa.fa-bullhorn
/                       .cont-col2
/                         .desc
/                           |  New order received. Please take care of it. 
/                   .col2
/                     .date
/                       |  21 hours 
/                 li
/                   .col1
/                     .cont
/                       .cont-col1
/                         .label.label-sm.label-info
/                           i.fa.fa-bullhorn
/                       .cont-col2
/                         .desc
/                           |  New order received. Please take care of it. 
/                   .col2
/                     .date
/                       |  22 hours 
/                 li
/                   .col1
/                     .cont
/                       .cont-col1
/                         .label.label-sm.label-default
/                           i.fa.fa-bullhorn
/                       .cont-col2
/                         .desc
/                           |  New order received. Please take care of it. 
/                   .col2
/                     .date
/                       |  21 hours 
/                 li
/                   .col1
/                     .cont
/                       .cont-col1
/                         .label.label-sm.label-info
/                           i.fa.fa-bullhorn
/                       .cont-col2
/                         .desc
/                           |  New order received. Please take care of it. 
/                   .col2
/                     .date
/                       |  22 hours 
/           #tab_1_2.tab-pane
/             .scroller[style="height: 290px;" data-always-visible="1" data-rail-visible1="1"]
/               ul.feeds
/                 li
/                   a[href="javascript:;"]

/                   .col1
/                     .cont
/                       .cont-col1
/                         .label.label-sm.label-success
/                           i.fa.fa-bell-o
/                       .cont-col2
/                         .desc
/                           |  New user registered 
/                   .col2
/                     .date
/                       |  Just now 
/                 li
/                   a[href="javascript:;"]

/                   .col1
/                     .cont
/                       .cont-col1
/                         .label.label-sm.label-success
/                           i.fa.fa-bell-o
/                       .cont-col2
/                         .desc
/                           |  New order received 
/                   .col2
/                     .date
/                       |  10 mins 
/                 li
/                   .col1
/                     .cont
/                       .cont-col1
/                         .label.label-sm.label-danger
/                           i.fa.fa-bolt
/                       .cont-col2
/                         .desc
/                           |  Order #24DOP4 has been rejected. 
/                           span.label.label-sm.label-danger
/                             |  Take action 
/                             i.fa.fa-share
/                   .col2
/                     .date
/                       |  24 mins 
/                 li
/                   a[href="javascript:;"]

/                   .col1
/                     .cont
/                       .cont-col1
/                         .label.label-sm.label-success
/                           i.fa.fa-bell-o
/                       .cont-col2
/                         .desc
/                           |  New user registered 
/                   .col2
/                     .date
/                       |  Just now 
/                 li
/                   a[href="javascript:;"]

/                   .col1
/                     .cont
/                       .cont-col1
/                         .label.label-sm.label-success
/                           i.fa.fa-bell-o
/                       .cont-col2
/                         .desc
/                           |  New user registered 
/                   .col2
/                     .date
/                       |  Just now 
/                 li
/                   a[href="javascript:;"]

/                   .col1
/                     .cont
/                       .cont-col1
/                         .label.label-sm.label-success
/                           i.fa.fa-bell-o
/                       .cont-col2
/                         .desc
/                           |  New user registered 
/                   .col2
/                     .date
/                       |  Just now 
/                 li
/                   a[href="javascript:;"]

/                   .col1
/                     .cont
/                       .cont-col1
/                         .label.label-sm.label-success
/                           i.fa.fa-bell-o
/                       .cont-col2
/                         .desc
/                           |  New user registered 
/                   .col2
/                     .date
/                       |  Just now 
/                 li
/                   a[href="javascript:;"]

/                   .col1
/                     .cont
/                       .cont-col1
/                         .label.label-sm.label-success
/                           i.fa.fa-bell-o
/                       .cont-col2
/                         .desc
/                           |  New user registered 
/                   .col2
/                     .date
/                       |  Just now 
/                 li
/                   a[href="javascript:;"]

/                   .col1
/                     .cont
/                       .cont-col1
/                         .label.label-sm.label-success
/                           i.fa.fa-bell-o
/                       .cont-col2
/                         .desc
/                           |  New user registered 
/                   .col2
/                     .date
/                       |  Just now 
/                 li
/                   a[href="javascript:;"]

/                   .col1
/                     .cont
/                       .cont-col1
/                         .label.label-sm.label-success
/                           i.fa.fa-bell-o
/                       .cont-col2
/                         .desc
/                           |  New user registered 
/                   .col2
/                     .date
/                       |  Just now 
/           #tab_1_3.tab-pane
/             .scroller[style="height: 290px;" data-always-visible="1" data-rail-visible1="1"]
/               .row
/                 .col-md-6.user-info
/                   img.img-responsive[alt="" src="../../assets/admin/layout/img/avatar.png"]
/                   .details
/                     div
/                       a[href="javascript:;"]
/                         |  Robert Nilson 
/                       span.label.label-sm.label-success.label-mini
/                         |  Approved 
/                     div
/                       |  29 Jan 2013 10:45AM 
/                 .col-md-6.user-info
/                   img.img-responsive[alt="" src="../../assets/admin/layout/img/avatar.png"]
/                   .details
/                     div
/                       a[href="javascript:;"]
/                         |  Lisa Miller 
/                       span.label.label-sm.label-info
/                         |  Pending 
/                     div
/                       |  19 Jan 2013 10:45AM 
/               .row
/                 .col-md-6.user-info
/                   img.img-responsive[alt="" src="../../assets/admin/layout/img/avatar.png"]
/                   .details
/                     div
/                       a[href="javascript:;"]
/                         |  Eric Kim 
/                       span.label.label-sm.label-info
/                         |  Pending 
/                     div
/                       |  19 Jan 2013 12:45PM 
/                 .col-md-6.user-info
/                   img.img-responsive[alt="" src="../../assets/admin/layout/img/avatar.png"]
/                   .details
/                     div
/                       a[href="javascript:;"]
/                         |  Lisa Miller 
/                       span.label.label-sm.label-danger
/                         |  In progress 
/                     div
/                       |  19 Jan 2013 11:55PM 
/               .row
/                 .col-md-6.user-info
/                   img.img-responsive[alt="" src="../../assets/admin/layout/img/avatar.png"]
/                   .details
/                     div
/                       a[href="javascript:;"]
/                         |  Eric Kim 
/                       span.label.label-sm.label-info
/                         |  Pending 
/                     div
/                       |  19 Jan 2013 12:45PM 
/                 .col-md-6.user-info
/                   img.img-responsive[alt="" src="../../assets/admin/layout/img/avatar.png"]
/                   .details
/                     div
/                       a[href="javascript:;"]
/                         |  Lisa Miller 
/                       span.label.label-sm.label-danger
/                         |  In progress 
/                     div
/                       |  19 Jan 2013 11:55PM 
/               .row
/                 .col-md-6.user-info
/                   img.img-responsive[alt="" src="../../assets/admin/layout/img/avatar.png"]
/                   .details
/                     div
/                       a[href="javascript:;"]
/                         |  Eric Kim 
/                       span.label.label-sm.label-info
/                         |  Pending 
/                     div
/                       |  19 Jan 2013 12:45PM 
/                 .col-md-6.user-info
/                   img.img-responsive[alt="" src="../../assets/admin/layout/img/avatar.png"]
/                   .details
/                     div
/                       a[href="javascript:;"]
/                         |  Lisa Miller 
/                       span.label.label-sm.label-danger
/                         |  In progress 
/                     div
/                       |  19 Jan 2013 11:55PM 
/               .row
/                 .col-md-6.user-info
/                   img.img-responsive[alt="" src="../../assets/admin/layout/img/avatar.png"]
/                   .details
/                     div
/                       a[href="javascript:;"]
/                         |  Eric Kim 
/                       span.label.label-sm.label-info
/                         |  Pending 
/                     div
/                       |  19 Jan 2013 12:45PM 
/                 .col-md-6.user-info
/                   img.img-responsive[alt="" src="../../assets/admin/layout/img/avatar.png"]
/                   .details
/                     div
/                       a[href="javascript:;"]
/                         |  Lisa Miller 
/                       span.label.label-sm.label-danger
/                         |  In progress 
/                     div
/                       |  19 Jan 2013 11:55PM 
/               .row
/                 .col-md-6.user-info
/                   img.img-responsive[alt="" src="../../assets/admin/layout/img/avatar.png"]
/                   .details
/                     div
/                       a[href="javascript:;"]
/                         |  Eric Kim 
/                       span.label.label-sm.label-info
/                         |  Pending 
/                     div
/                       |  19 Jan 2013 12:45PM 
/                 .col-md-6.user-info
/                   img.img-responsive[alt="" src="../../assets/admin/layout/img/avatar.png"]
/                   .details
/                     div
/                       a[href="javascript:;"]
/                         |  Lisa Miller 
/                       span.label.label-sm.label-danger
/                         |  In progress 
/                     div
/                       |  19 Jan 2013 11:55PM 
/ .clearfix

/ .row
/   .col-md-6.col-sm-6
/     .portlet.light.calendar
/       .portlet-title
/         .caption
/           i.icon-calendar.font-green-sharp
/           span.caption-subject.font-green-sharp.bold.uppercase
/             | Feeds
/       .portlet-body
/         #calendar

/   .col-md-6.col-sm-6
/     .portlet.light
/       .portlet-title
/         .caption
/           i.icon-bubble.font-red-sunglo
/           span.caption-subject.font-red-sunglo.bold.uppercase
/             | Chats
/         .actions
/           .portlet-input.input-inline
/             .input-icon.right
/               i.icon-magnifier
/               input.form-control.input-circle[type="text" placeholder="search..."]
/       #chats.portlet-body
/         .scroller[style="height: 341px;" data-always-visible="1" data-rail-visible1="1"]
/           ul.chats
/             li.in
/               img.avatar[alt="" src="../../assets/admin/layout/img/avatar1.jpg"]
/               .message
/                 span.arrow

/                 a.name[href="javascript:;"]
/                   |  Bob Nilson 
/                 span.datetime
/                   |  at 20:09 
/                 span.body
/                   |  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
/             li.out
/               img.avatar[alt="" src="../../assets/admin/layout/img/avatar2.jpg"]
/               .message
/                 span.arrow

/                 a.name[href="javascript:;"]
/                   |  Lisa Wong 
/                 span.datetime
/                   |  at 20:11 
/                 span.body
/                   |  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
/             li.in
/               img.avatar[alt="" src="../../assets/admin/layout/img/avatar1.jpg"]
/               .message
/                 span.arrow

/                 a.name[href="javascript:;"]
/                   |  Bob Nilson 
/                 span.datetime
/                   |  at 20:30 
/                 span.body
/                   |  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
/             li.out
/               img.avatar[alt="" src="../../assets/admin/layout/img/avatar3.jpg"]
/               .message
/                 span.arrow

/                 a.name[href="javascript:;"]
/                   |  Richard Doe 
/                 span.datetime
/                   |  at 20:33 
/                 span.body
/                   |  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
/             li.in
/               img.avatar[alt="" src="../../assets/admin/layout/img/avatar3.jpg"]
/               .message
/                 span.arrow

/                 a.name[href="javascript:;"]
/                   |  Richard Doe 
/                 span.datetime
/                   |  at 20:35 
/                 span.body
/                   |  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
/             li.out
/               img.avatar[alt="" src="../../assets/admin/layout/img/avatar1.jpg"]
/               .message
/                 span.arrow

/                 a.name[href="javascript:;"]
/                   |  Bob Nilson 
/                 span.datetime
/                   |  at 20:40 
/                 span.body
/                   |  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
/             li.in
/               img.avatar[alt="" src="../../assets/admin/layout/img/avatar3.jpg"]
/               .message
/                 span.arrow

/                 a.name[href="javascript:;"]
/                   |  Richard Doe 
/                 span.datetime
/                   |  at 20:40 
/                 span.body
/                   |  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
/             li.out
/               img.avatar[alt="" src="../../assets/admin/layout/img/avatar1.jpg"]
/               .message
/                 span.arrow

/                 a.name[href="javascript:;"]
/                   |  Bob Nilson 
/                 span.datetime
/                   |  at 20:54 
/                 span.body
/                   |  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. sed diam nonummy nibh euismod tincidunt ut laoreet. 
/         .chat-form
/           .input-cont
/             input.form-control[type="text" placeholder="Type a message here..."]
/           .btn-cont
/             span.arrow

/             a.btn.blue.icn-only[href=""]
/               i.fa.fa-check.icon-white